<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form action="#" th:action="@{/register}" method="post" th:object="${user}">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required/>
  </div>
  <button type="submit">Register</button>
</form>
<p><a th:href="@{/login}">Авторизация</a></p>
</body>
</html>